<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <!--font cdn icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <!--style.css style-->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    
    
    <!--header-->
        <header id="header" class="shadow bg-light">
            <nav class="container navbar">
                <a href="#" class="nav-brand text-dark">Blog
                </a>
    <!--toggle btn--> 
                <button class="toggle-button">
                    <span><i class="fas fa-bars"></i></span>
                </button>
             <div class="collapse">
                    <ul class="navbar-nav">
                        <a href="" class="nav-link">home</a>
                        <a href="" class="nav-link">blog</a>
                        <a href="" class="nav-link">about</a>
                        <a href="" class="nav-link">contact</a>
                        
                    </ul>
                </div>
                <div class="collapse">
                    <ul class="navbar-nav">
                        <div class="search-box">
                            <a href="#" class="nav-link"><i class="fas fa-search"></i></a>
                            <a href="#" class="nav-link"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="nav-link"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
                            <div class="dropdown">
                            <div class="nav-link" href="#"><i  class="far fa-user"></i></div> 
                                <div class="dropdown-content">
                                    <a href="/loginAdmin">Admin</a>
                                    <a href="#" onclick="document.getElementById('login-form').style.display='block'" style="width: auto;">Users</a>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </nav>
        </header>
    <!--header-end-->

    <!--login-->

    <div id='login-form'class='login-page'>
        <div class="form-box">
            <div class='button-box'>
                <div id='btn'></div>
                <button type='button'onclick='login()'class='toggle-btn'>Log In</button>
                <button type='button'onclick='register()'class='toggle-btn'>Register</button>
                
            </div>
            <form action="login" method="POST" id='login' class='input-group-login'>
                <input type='text' class="user1" name="username" placeholder='Username ' required >
                <input type='password' name="password" class="pass1"
                placeholder='Enter Password' required>
                <button class="submit-btn" type="submit">Login</button>
                
            </form>
            <form action="register" method="POST" id='register' class='input-group-register'>        
                <input type='text' name="username"class='user1' placeholder='User Name ' required>
                <input type='email'name="email" class="email" placeholder='Email Id' required>
                <input type='password'class="pass1" placeholder='Enter Password' name="password" required>
                <button class="submit-btn" type="submit">Register</button>
         </form>
        </div>
    </div>
    <!--login end-->
<!--main site-->
        <main id="site-main">
            <!--blog post section-->
            <section id="posts">
                <div class="container">
                    <div class="grid">
                        <!--article-->
                        <% for(var i=0;i< contents.length;i++){ %>
                        <div class="grid-item">
                            <article class="article">
                                <div class="card">
                                    <div class="overflow-img">
                                        <a href="#">
                                            <img src="../materials/<%= contents[i].image %>"
                                            class="img-fluid" alt="dog">
                                        </a>
                                    </div>
                                    <div class="card-body-text-body px-1">
                                        <a href="/single/<%= contents[i].id  %> " class="text-title display-1 text-dark">
                                            <%= contents[i].title%>
                                            
                                        </a>
                                        <p class="secondary-title text-secondary display-3">
                                            <span><i class="far fa-clock text-primary"></i> Clock Wed 02, 2021</span>
                                            <span><i class="far fa-comments text-primary"></i> 12</span>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <% } %>
                        <!--artile end-->
                        
                    </div>
                </div>
            </section>
            <!-- .Blog Post Section -->
<!-- Blog carasuel-->
        </main>
        

        

<!--main site-->
</body>
<!-- masonry libray for horizontal grid -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ==" crossorigin="anonymous"></script>
<!--uildel-->
<script src="../js/main.js"></script>
</html>