<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <style>
        html {
  height: 100%;
}
body {
  height: 100%;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #b4c6ce 0%, rgba(255, 255, 255, 0) 100%),
    #ffffff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div {
  position: absolute;
  width: 250px;
  height: 400px;
  left: calc(50% - 250px / 2);
  top: calc(50% - 400px / 2);

  background: linear-gradient(180deg, #e9f4ee 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, #9fb5af 0%, rgba(255, 255, 255, 0) 100%), #b3d1d1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
h2 {
  position: absolute;
  width: 224px;
  height: 59px;
  left: calc(50% - 224px / 2);
  top: calc(50% - 59px / 2 - 170.5px);

  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 59px;

  text-align: center;

  border-color: rgb(84, 202, 218);
  background: -webkit-linear-gradient(#88afd6, rgba(162, 183, 235, 50));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.user {
  position: absolute;
  width: 160px;
  height: 35px;
  left: -14px;
  top: 128px;
  background: -webkit-linear-gradient(#88afd6, rgba(33, 194, 204, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}
.user1 {
  position: absolute;
  width: 217px;
  height: 25px;
  left: 13px;
  top: 158px;
  border-color: rgb(84, 202, 218);
  background: #ffffff;
  border-radius: 10px;
}
input:focus::placeholder {
  color: transparent;
}
.pass {
  background: -webkit-linear-gradient(#88afd6, rgba(33, 194, 204, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: rgb(84, 202, 218);
  position: absolute;
  width: 160px;
  height: 35px;
  left: -14px;
  top: 195px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}
.pass1 {
  position: absolute;
  width: 217px;
  height: 25px;
  left: 13px;
  top: 215px;
  border-color: rgb(84, 202, 218);
  background: #ffffff;
  border-radius: 10px;
}
.submit {
  border-color: rgb(84, 202, 218);

  position: absolute;
  width: 80px;
  height: 25px;
  left: 20px;
  top: 295px;
  border-radius: 25px;
  font-size: 20px;
}
.submit1 {
  position: absolute;
  width: 90px;
  height: 25px;
  right: 20px;
  top: 295px;
  border-radius: 25px;
  font-size: 20px;
  border-color: rgb(84, 202, 218);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
button:focus,
textarea:focus,
select:focus {
  outline: none;
}
button:hover {
  background: linear-gradient(#3cb2cc 36.98%, rgba(255, 255, 255, 0) 88.02%);
}

    </style>
     
</head>
<body><div>
    <form action="adminLogin" method="POST">
        <h2>Admin log in</h2>
        <label class="user">Username</label><br>
    <input class="user1" name="username" type="text" placeholder="Enter Username" required>
    <label class="pass"  >Password</label><br>
    <input class="pass1" name="password"  type="password" placeholder="Enter Password"  required>
    <input class="submit" type="submit" >
    </form>
    
    </div>

</body>
</html>