<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/admin.css">
</head>
<body>
	<input type="checkbox" id="checkbox">
	<header class="header">
		<h2 class="u-name">Profile
			<label for="checkbox">
				<i id="navbtn" class="fa fa-bars" aria-hidden="true"></i>
			</label>
		</h2>
		<i class="fa fa-user" aria-hidden="true"></i>
	</header>
	<div class="body">
		<nav class="side-bar">
			<div class="user-p">
				<img src="./materials/download.jpg" alt="userphoto">
				<h4>vutnish</h4>
			</div>
			<ul>
				<li>
					<a href="/myPosts">
						<i class="fa fa-desktop" aria-hidden="true"></i>
						<span>My Posts</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
						<span>Message</span>
					</a>
				</li>
				<li>
					<a href="/editMyInfo">
						<i class="fa fa-cog" aria-hidden="true"></i>
						<span>Edit My info</span>
					</a>
				</li>
				<li>
					<a href="/">
						<i class="fa fa-power-off" aria-hidden="true"></i>
						<span>Logout</span>
					</a>
				</li>
			</ul>
		</nav>
		<section class="section-1">
			<form class="edit" action="editUser" method="POST">
			<div >
                <h2>Edit</h2>
			</div>
            <input class="user1" name="username" type="text" placeholder="Enter Username" required>
            <input class="pass1" name="password" type="password" placeholder="Enter Password"  required>
            <input class="email1" name="email" type="text" placeholder="Enter Email" required>
            <input class="submit" type="submit">
            </form>
		</section>
	</div>

</body>
</html>